Source: adaptation-droidian-jasmine
Maintainer: Shoko
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/Droidian-Mi-A2-6X/adaptation-droidian-jasmine
Vcs-Git: https://github.com/Droidian-Mi-A2-6X/adaptation-droidian-jasmine.git

Package: adaptation-droidian-jasmine
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api28-phone,
         adaptation-jasmine-configs,
         linux-bootimage-xiaomi-jasmine,
         batman,qtwayland5,seahorse,
         power-profiles-daemon,dialog
Description: adapatation-jasmine-meta
 jasmine api28 adaptation metapackage

Package: adaptation-jasmine-configs
Architecture: all
Depends: ${misc:Depends},
Description: jasmine's adaptation configs
