#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd -padaptation-jasmine-configs --name=brightness brightness.service --no-start
	dh_installsystemd -padaptation-jasmine-configs --name=flathub-remote-add flathub-remote-add.service --no-start
